::-moz-selection {
  color: $white;
  background-color: $blue;
}

::selection {
  color: $white;
  background-color: $blue;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $base-font;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: $font-color;
  word-spacing: 1px;
}

img {
  vertical-align: middle;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-rounded.fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

main > section {
  position: relative;
  padding: 5rem 15rem;
  h2 {
    margin: 0 auto 4rem;
    font-size: 4rem;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
  }
}

.btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 15rem;
  padding: 1.5rem 2rem;
  background-color: $gray-light;
  transition: background-color 0.3s ease-in-out;
  &.black-border {
    position: static;
    right: auto;
    border: 1px solid $font-color;
    background-color: transparent;
  }
  span {
    margin-left: 5px;
    color: $blue;
  }
  &:hover {
    background-color: $gray-medium;
  }
}

.blue {
  border-bottom: 1px solid $blue;
  &:hover {
    color: $blue;
  }
}

.gray {
  border-bottom: 1px solid $gray-medium;
  &:hover {
    color: $blue;
  }
}

.italic {
  font-style: italic;
}
