#hero {
  height: calc(100vh - 7rem);
  background-image: url('../images/tate_modern_bg.jpg');
  background-size: 110%;
  background-position: 25% 25%;
  .hero__content {
    width: 60%;
    height: 100%;
    padding: 3rem;
    color: $white;
    background-color: $gray-dark;
    @include flexColumn;
  }
  .hero__item {
    span {
      line-height: 2;
      letter-spacing: 1px;
    }
    h1 {
      margin: 3rem 0;
      font-size: 6rem;
      letter-spacing: 7px;
    }
    h2 {
      margin-bottom: 3rem;
      font-size: 2.5rem;
      text-align: left;
    }
  }
}

#nav-sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

#nav-sticky ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem 15rem;
  background-color: $gray-light;
  li {
    transition: color 0.3s ease-in-out;
  }
}

#explore {
  display: flex;
  .explore__content {
    margin-right: 5rem;
    flex: 0 0 60%;
  }
  .explore__heading {
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }
  p {
    margin-bottom: 2rem;
  }
  .explore__artwork {
    background-color: $gray-light;
    img {
      width: 100%;
    }
  }
  .explore__artwork-info {
    padding: 1.5rem;
    font-size: 1.4rem;
    color: $gray-dark;
  }
}

#exhibition {
  .exhibition__content {
    display: flex;
    justify-content: space-between;
  }
  .exhibition__item {
    width: 32%;
    img {
      width: 100%;
    }
    a > * {
      margin-bottom: 1rem;
    }
    &:hover .exhibition__img-container {
      filter: brightness(0.7);
    }
    &:hover .exhibition__title {
      color: $blue;
    }
  }
  .exhibition__img-container {
    transition: filter 0.3s ease-in-out;
  }
  .exhibition__mark {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    border: 1px solid $gray-medium;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: $gray-dark;
    text-transform: uppercase;
  }
  .exhibition__title {
    font-size: 2rem;
    transition: color 0.3s ease-in-out;
  }
  .exibiton__desc {
    color: $gray-dark;
  }
  .exhibition__info > div {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    .material-symbols-rounded {
      padding-right: 5px;
      font-size: 1.8rem;
    }
    span {
      font-size: 1.3rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

#collection {
  .collection__content {
    display: flex;
    justify-content: space-between;
  }
  .collection__item {
    width: 24%;
    img {
      width: 100%;
    }
    a > * {
      margin-bottom: 1rem;
    }
    &:hover .collection__img-container {
      filter: brightness(0.7);
    }
    &:hover .collection__title {
      color: $blue;
    }
    &:hover .collection__mark {
      color: $blue;
    }
  }
  .collection__img-container {
    transition: filter 0.3s ease-in-out;
  }
  .collection__mark {
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
  }
  .collection__title {
    font-size: 2rem;
    transition: color 0.3s ease-in-out;
  }
  .exibiton__desc {
    color: $gray-dark;
  }
  .collection__tour {
    width: 24%;
    height: 199%;
    padding: 2rem;
    font-weight: 500;
    color: $white;
    background-color: $blue;
    .collection__tour__heading {
      padding-bottom: 7rem;
      font-size: 2.8rem;
    }
    .collection__tour__btn {
      display: flex;
      justify-content: space-between;
      padding-top: 2rem;
      border-top: 1px solid $white;
    }
  }
}

#members {
  .members__container {
    padding: 5rem 0;
    background: linear-gradient(20deg, #40409c 50%, #d14937 50%);
  }
  .members__container__heading {
    margin-bottom: 3rem;
    font-size: 4rem;
    letter-spacing: 5px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
  }
  .members__btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    background-color: $gray-light;
    transition: background-color 0.3s ease-in-out;
    span {
      margin-left: 5px;
    }
    &:hover {
      background-color: $gray-medium;
    }
  }
}

#admission {
  .admission__wrapper {
    display: flex;
  }
  .admission__container--one {
    margin-right: 10rem;
    flex: 0 0 60%;
  }

  .admission__item > * {
    margin-bottom: 3rem;
  }
  .admission__title {
    font-size: 2rem;
    &.uppercase {
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
  .admission__item ul {
    padding: 0 3rem;
    list-style: disc;
  }
}

#visiting {
  .visiting__container {
    display: flex;
    justify-content: space-between;
  }
  .visiting__item {
    width: 19%;
    &:hover .visiting__img-container::before {
      opacity: 0.9;
    }
  }
  .visiting__img-container {
    position: relative;
    height: 200px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: rgb(0, 0, 0, 0.5);
    overflow: hidden;
    @include flexCenter;
    img {
      position: absolute;
      height: 100%;
      filter: brightness(0.5);
    }
    &::before {
      display: block;
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 200px;
      background-color: $blue;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      content: '';
    }
  }
  .visiting__text {
    z-index: 5;
    @include coverText;
  }
  p {
    color: $gray-dark;
  }
}

#venues {
  .venues__container--one,
  .venues__container--two {
    display: flex;
    justify-content: space-between;
    height: 450px;
    margin-bottom: 20px;
  }
  .venues__item--large {
    width: 64%;
    .venues__img-container {
      height: 100%;
      &:hover::before {
        opacity: 0.9;
      }
    }
  }
  .venues__item {
    width: 34%;
    @include flexColumn;
    a {
      height: 47%;
    }
    .venues__img-container {
      height: 100%;
      &:hover::before {
        opacity: 0.9;
      }
    }
  }
  .venues__img-container {
    position: relative;
    background-color: rgb(0, 0, 0, 0.5);
    overflow: hidden;
    @include flexCenter;
    a {
      width: 100%;
      @include flexCenter;
    }
    img {
      position: absolute;
      width: 100%;
      filter: brightness(0.5);
    }
    &::before {
      display: block;
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      background-color: $blue;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      content: '';
    }
  }
  .venues__text {
    z-index: 5;
    @include coverText;
  }
}

#accessibility {
  .accessibility__container {
    display: flex;
  }
  .accessibility__nav {
    width: 25%;
    margin-right: 30px;
    @include flexColumn;
    ul {
      margin-bottom: 2rem;
    }
    li {
      padding: 0.5rem 1.5rem 0;
      border-bottom: 1px solid $gray-medium;
      &:hover {
        color: $blue;
      }
    }
  }
  button {
    text-align: left;
  }
  .accessibility__content article {
    display: none;
  }
  .accessibility__content article > * {
    margin-bottom: 3rem;
  }

  .article__item > * {
    margin-bottom: 1rem;
  }

  .accessibility__content {
    flex: 1;
    h3 {
      font-size: 2.4rem;
    }
    h4 {
      font-size: 2rem;
    }
    ul {
      padding-left: 3rem;
      list-style: disc;
    }
  }
}
