#header {
  display: flex;
  position: relative;
  height: 7rem;
  padding: 0 15rem;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .gnb-main__left {
    height: 100%;
  }
  .gnb-main__left > ul {
    display: flex;
    align-items: center;
    height: 100%;
    li:not(:last-child) {
      margin-right: 4rem;
    }
    li:nth-child(3) {
      color: $gray-dark;
    }
    li {
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 1.6rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      a {
        display: flex;
        align-items: center;
      }
      &:hover {
        color: $gray-dark;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .gnb-main__right > ul {
    display: flex;
    align-items: center;
    .search-btn {
      margin-right: 2rem;
      &:hover span {
        color: $gray-dark;
        transition: color 0.3s ease-in-out;
      }
    }
    .member-btn {
      padding: 1rem;
      font-size: 1.3rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      background-color: $blue-light;
    }
  }
}

.art-dropdown {
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 7rem;
  left: 0;
  z-index: 10;
  width: 100vw;
  padding: 3rem 15rem;
  background-color: $gray-light;

  .dept__heading {
    height: auto !important;
    margin-bottom: 1rem;
    font-size: 1.3rem !important;
    color: $gray-dark;
  }

  li:not(:first-child) {
    height: auto !important;
    letter-spacing: normal !important;
    text-transform: none !important;
  }

  a {
    color: $font-color;
  }

  li:hover a {
    color: $gray-dark;
    transition: color 0.3s ease-in-out;
  }
}

.art:hover .art-dropdown {
  display: flex;
}

.art:hover .material-symbols-rounded {
  color: $gray-dark;
  transform: rotate(180deg);
}

.art .material-symbols-rounded {
  transition: all 0.3s ease-in-out;
}
